* {
    box-sizing: border-box;
    text-align: center;
    background: gray;
  }
  body{
      margin-left: 156px;
      margin-right: 200px; 
      margin-bottom: 130px;
  }
  header{
      padding: 25px;
      margin-bottom: 10px;
      height: 85px;
      color: gray;
      text-align: center;
      background-color: white;
  }
  nav{
      padding: 25px;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 85px;
      color: gray;
      background-color: white;
  }
  #SectionLeft{
    float: left;
    color: gray;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 349px;
    width: 55%;
    padding: 60px;
  }
  #article{
      margin:10px;
      float: left;
      color: white;
      background-color: gray;
      width: 530px;
      height: 200px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  #h1,h2,h3{
        display: contents;
        font-size: 17px;
        margin-top: 40px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        height: 50px;
        width: 480px;
        color: grey;
        background-color: white;
    }
    
  #headers{
      float: left;    
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
      height: 50px;
      width: 480px;
      color: gray;
      background-color: white;
  }
  
  #p{
    margin: 10px;
    color: gray;
    background-color: white; 
  }
  #aside{
    float: right;
    color:gray;
    background-color:white;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 43%; 
    height: 349px;
    padding: 60px;
  }
  footer{
    padding: 25px;
    margin-top: 10px;
    height: 85px;
    color:gray;
    background-color: white;
    text-align: center;
    clear: both;
  }