* {
    box-sizing: border-box;
    text-align: center;
    background: gray;
  }
  body{
      margin-left: 200px;
      
      margin-bottom: 150;
  }

  header{
      padding: 25px;
      margin-bottom: 10px;
      height: 42px;
      color: gray;
      background-color: white;

  }

  nav{
      padding: 25px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: gray;
      background-color: white;
  }

  h1, h2, h3{
      display: contents;
      font-size: 21px;
  }

  #SectionLeft{
    float: left;
    color: gray;
    background-color: white;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
    padding: 60px;
  }
  #article{
      margin: 10px;
      color: white;
      background-color: gray;
      padding:50px;
  }
  #headers{
      margin: 10px;
      color: gray;
      background-color: white;
  
  }

  #p{
    margin: 10px;
    color: gray;
    background-color: white; 
  }

  #aside{
    float: right;
    color:gray;
    background-color:white;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100;
    margin-right: 100;
    padding: 40px;
  }


  footer{
      padding: 25px;
      margin-top: 10px;
      color:gray;
      background-color: white;
      text-align: center;
  }